.clearfix {
	clear: both;
}
.promptSeparator {
	width:75%;
	margin:2px auto;
}

#journalPrompt {
	padding:0 10px;
}

.mejs-container {
	display:none!important;
/*visibility:hidden !important;width:1px;height:1px;*/
}

.right {
	float: right;
}

.left {
	float: left;
}

#bottom {
	width:80%;
	margin:10px auto;
}

#promptArea {
	padding:5px 10px;
	/*border-radius:5px;*/
	/*background:#455f82;*/
	width:500px;
}

.promptPhrase {
	font-size:1.25em;
	color:rgba(91,91,118,0.95);
	margin:0;
	font-weight:bold;
}

.promptPhrase em {
	color:#D2D096;
}

.footnote {
	font-size:.75em;
	color:#455F82;
}

#countdown_dashboard {
	height:56px;
	width:155px;
	margin:auto;
	/*background:#455F82;*/
	/*border-radius:5px;*/
}

.dash {
	width:45px;
	height:30px;
	float:left;
	margin-top:10px;
	margin-left:2px;
	padding-left:23px;
	position:relative;
	color:#fff;
}

.dash_title {
	font-size:8pt;
	display:block;
	text-align:left;
	padding-left:3px;
	color:rgba(91,91,118,0.95);
}

.dash .digit {
	font:bold 14pt Verdana;
	font-weight:700;
	float:left;
	width:16px;
	text-align:center;
	position:relative;
	color:rgba(91,91,118,0.95);
}

.countdown_controls {
	margin:auto;
	width:400px;
	text-align:center;
	margin-top:10px;
}